/* Стилизуем текст меню вместо кнопки */
.menu-text {
    cursor: pointer;
    font-family: 'Arial', sans-serif; /* Основной шрифт для текста */
    font-size: 14px; /* Размер текста абзацев */
    color: #000;
    text-decoration: none;
}

.menu-text:hover {
    text-decoration: underline;
}

/* Стили для абзацев */
p {
    font-family: 'Arial', sans-serif; /* Основной шрифт для текста */
    font-size: 14px; /* Размер текста абзацев */
}

/* Убираем синий фон при открытии и фокусе */
.accordion-button:focus,
.accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: transparent; /* или любой другой цвет */
    border-color: transparent;
}

/* Текст в аккордионе */
.accordion-text-user {
    font-family: 'Arial', sans-serif; /* Основной шрифт для текста */
    font-size: 14px; /* Размер текста абзацев */
    color: #000;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}


.gist .blob-code {
    white-space: pre-wrap !important; /* Перенос строк */
    word-break: break-word; /* Разбивка длинных слов */
}

.text-menu {
    font-family: 'Arial', sans-serif; /* Основной шрифт для текста */
    font-size: 15px; /* Размер текста абзацев */
}


/* Подчёркивание в подпунктах меню Offcanvas */
#offcanvasNavbar .dropdown-menu .dropdown-item {
  text-decoration: none;
}

#offcanvasNavbar .dropdown-menu .dropdown-item:hover,
#offcanvasNavbar .dropdown-menu .dropdown-item:focus {
  text-decoration: underline;
  text-underline-offset: .2rem;   /* как link-offset-2 */
  text-decoration-thickness: 1px; /* тонкое подчёркивание */
}
/* Подменю Offcanvas: только подчёркивание, без заливки и смены цвета */
#offcanvasNavbar .dropdown-menu{
  /* фиксируем поведение Bootstrap-переменными */
  --bs-dropdown-link-color: #000;
  --bs-dropdown-link-hover-color: #000;
  --bs-dropdown-link-hover-bg: transparent;
  --bs-dropdown-link-active-color: #000;
  --bs-dropdown-link-active-bg: transparent;
}

#offcanvasNavbar .dropdown-menu .dropdown-item{
  text-decoration: none;
  color: #000;                 /* на всякий случай, закрепляем цвет */
}

#offcanvasNavbar .dropdown-menu .dropdown-item:hover,
#offcanvasNavbar .dropdown-menu .dropdown-item:focus{
  text-decoration: underline;
  text-underline-offset: .2rem;
  text-decoration-thickness: 1px;
  background-color: transparent;
  color: #000;
}

#offcanvasNavbar .dropdown-menu .dropdown-item:active,
#offcanvasNavbar .dropdown-menu .dropdown-item.active{
  background-color: transparent; /* убираем синюю/серую заливку */
  color: #000;
  text-decoration: underline;
}
